:root {
    --body-bg: #86abee;
    --widget-bg: #789ffd;
    --widget-in-widget: #7181ff;
    --wiw-hover: #72b9f9;
    --text-color: #333333;
    --shadow-color: rgba(0,0,0,0.1);
    --shadow-hover: rgba(0,0,0,0.15);
    --primary-color: #ffffff;
    --primary-color-text: #ffffff;
    --widget-text: darkslateblue;
    --outline-primary: #4a4a8a;
    --outline-primary-dark: #2e2e6a;
    --input: #7181ff;
}