:root {
    --body-bg: #1a1a1a;
    --widget-bg: #2d2d2d;
    --widget-in-widget: #383838;
    --wiw-hover: #464646;
    --text-color: #e0e0e0;
    --shadow-color: rgba(0,0,0,0.1);
    --shadow-hover: rgba(0,0,0,0.15);
    --primary-color: #2544aa;
    --primary-color-text: #000000;
    --widget-text: #e0e0e0;
    --outline-primary: #4a4a8a;
    --outline-primary-dark: #2e2e6a;
    --input: #3f3f3f;
}