:root {
    --body-bg: pink;
    --widget-bg: #aadfff;
    --widget-in-widget: #f2f4f8;
    --wiw-hover: #f9f9f9;
    --text-color: black;
    --shadow-color: rgba(0,0,0,0.1);
    --shadow-hover: rgba(0,0,0,0.15);
    --primary-color: #3b82f6;
    --primary-color-text: #ffffff;
    --widget-text: darkslateblue;
    --outline-primary: #4a4a8a;
    --outline-primary-dark: #2e2e6a;
    --input: #f2f4f8;
}